
    <div class="arrowWrapper">
        
        <div class="leftAr">
            <div class="arrow tweakLeft shadow-2"></div>
            <div class="arrow tweakLeft shadow-2"></div>
        </div>
        <div class="rightAr">
            <div class="arrow tweakRight shadow-2"></div>
            <div class="arrow tweakRight shadow-2"></div>
        </div>
        
    </div>
