<div id="menuWrapper">
    <div class="bar" id="top"></div>
    <div class="bar" id="middle"></div>
    <div class="bar" id="bottom"></div>
</div>
<div id="menuSlider" class="closeSlider shadow-5">
    <nav>
        <div class="navLink">
            <a href="/">Home</a>
        </div>
        
        <div class="navLink">
            <a href="/profile">Profile</a>
        </div>
        
        <div class="navLink">
            <a href="/thanks">Your Signature</a>
        </div>
        
        <div class="navLink">
            <a href="/petition/signers">Signers</a>
        </div>
        
    </nav>
</div>