<h1>{{name.first}} {{name.last}}, sign the petition: {{petitionReason}}</h1>
<div class="formWrapper shadow-3">
    <header class="formHeader shadow-3"><h2>Sign here:</h2></header>
    <form class='form' id="petitionForm" name="petitionForm" action='/petition' method='POST' target="/thanks">
        <div class="inputWrapper">
            <div class="canvasWrapper">
                <label for='canvas'>Signature:</label>
                <canvas class="shadow-2" id="canvas" width="400" height="75"></canvas>
            </div>
            
            <input id="signInput" type="hidden" name='signature'>
            {{>csrf}}
        </div>
        <button class="btn" id="btnSubmit" name="btnSubmit">Submit</button>
    </form> 
</div>
<script src='script.js'></script>