<section class="fullscreen pitch" id='four'>
    
    <h1>Three Reasons to switch to Open Source Software</h1>
    <div class="columnWrapper">
    <div class="column shadow-3" id="colOne">
         <svg class="icon">
            <use xlink:href="#login" />
        </svg> 
        <h2>Security</h2>
        <h3><em>"Given enough eyeballs, all bugs are shallow." Linus' Law'</em></h3>
        <p>"WBy making your source code open and public, you open it up to more people to scrutinize it's security and flaws. This allows for problems to potentially be found and fixed quicker."</p>
    </div>
    <div class="column shadow-3" id="colTwo">
        <svg class="icon">
            <use xlink:href="#freedom" />
        </svg> 
        <h2>Freedom & True Ownership</h2>
        <h3><em>"Free as in speech, not as in beer.</em></h3>
        <p>When open source software is called "free" it is referring to the rights of the software consumers, not the price. This refers to the <a href="https://www.gnu.org/philosophy/free-sw.en.html">Four Essential Freedoms</a>:</p>
        <ul>
            <li>The freedom to run the software</li>
            <li>The freedom to study and modify the software</li>
            <li>The freedom to study and modify the software</li>
            <li>The freedom to redistribute the software</li>
            <li>The freedom to distribute your modifications</li>
        </ul>
    </div>
    <div class="column shadow-3" id="colThree">
        <svg class="icon">
            <use xlink:href="#transparency" />
        </svg> 
        <h2>Transparency</h2>
        <h3><em><a href="https://opensource.com/life/15/12/why-open-source">"Open source allows for greater transparency of process..."</a></em></h3>
        <p>In todays digital world, more and more of the governments workings are being taken over by software. Being able to see the inner workings, the algorithms and processes is essential in upholding our democratic values.</p>
    </div>
    </div>
    
    <a class='registerLink' href="/register"><h1>
    Register and sign the petition now!</h1>
    </a>
    
    <div class="attribution">Icons made by <a href="https://www.flaticon.com/authors/wichaiwi" title="Wichai.wi">Wichai.wi</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div>
</section>
<div hidden>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><symbol id="login" viewBox="0 0 512 512"><title>login</title><path d="m485.904 81.727h-27.993v-18.785c0-34.707-28.235-62.942-62.942-62.942s-62.942 28.235-62.942 62.942v18.784h-27.993v62.337c-25.497-12.386-54.096-19.348-84.295-19.348-106.775 0-193.643 86.868-193.643 193.643s86.867 193.642 193.642 193.642c106.774 0 193.642-86.867 193.642-193.642 0-24.368-4.538-47.693-12.793-69.189h85.318v-167.442zm-123.878-18.785c0-18.164 14.778-32.942 32.942-32.942s32.942 14.778 32.942 32.942v18.784h-65.885v-18.784zm-222.227 398.158v-40.628c0-32.757 26.649-59.406 59.405-59.406h41.067c32.756 0 59.405 26.649 59.405 59.406v40.628c-23.655 13.3-50.924 20.9-79.938 20.9-29.015 0-56.284-7.601-79.939-20.9zm79.939-130.035c-20.17 0-36.579-16.409-36.579-36.578s16.409-36.578 36.579-36.578c20.169 0 36.578 16.409 36.578 36.578s-16.409 36.578-36.578 36.578zm163.642-12.707c0 47.952-20.732 91.152-53.703 121.109v-18.996c0-38.41-24.348-71.238-58.419-83.867 9.405-11.483 15.059-26.151 15.059-42.118 0-36.711-29.867-66.578-66.578-66.578-36.712 0-66.579 29.867-66.579 66.578 0 15.966 5.654 30.635 15.059 42.118-34.071 12.629-58.419 45.457-58.419 83.867v18.996c-32.972-29.957-53.704-73.157-53.704-121.109 0-90.232 73.41-163.643 163.643-163.643 30.814 0 59.659 8.569 84.295 23.439v71.014h63.98c9.854 21.027 15.366 44.476 15.366 69.19zm72.524-99.189h-45.936v-68.723h-30v68.723h-45.936v-107.442h121.871v107.442z"/></symbol><symbol id="freedom" viewBox="0 0 512 512"><title>freedom</title><path d="m15 301h77.509c6.968 34.192 37.271 60 73.491 60h39.587c7.333 0 13.59-5.301 14.796-12.534l9.999-60c1.518-9.108-5.499-17.466-14.796-17.466h-34.586v-30h54.587c7.333 0 13.59-5.301 14.796-12.534l9.999-60c1.518-9.108-5.499-17.466-14.796-17.466h-79.586c-36.219 0-66.522 25.808-73.491 60h-77.509c-8.284 0-15 6.716-15 15v60c0 8.284 6.716 15 15 15zm182.88 0-5 30h-26.88c-19.555 0-36.228-12.542-42.42-30zm-31.88-120h61.88l-5 30c-14.174 0-85.147 0-99.3 0 6.192-17.458 22.865-30 42.42-30zm-136 60h121v30h-121z"/><path d="m497 211h-77.509c-6.968-34.192-37.271-60-73.491-60h-39.588c-7.333 0-13.59 5.301-14.796 12.534l-9.999 60c-1.518 9.108 5.499 17.466 14.796 17.466h34.587v30h-54.588c-7.333 0-13.59 5.301-14.796 12.534l-9.999 60c-1.518 9.108 5.498 17.466 14.796 17.466h79.587c36.219 0 66.522-25.808 73.491-60h77.509c8.284 0 15-6.716 15-15v-60c0-8.284-6.716-15-15-15zm-182.881 0 5-30h26.881c19.555 0 36.228 12.542 42.42 30-15.155 0-59.118 0-74.301 0zm31.881 120h-61.881l5-30.01h99.301c-6.192 17.458-22.865 30.01-42.42 30.01zm136-60h-121v-30h121z"/><path d="m368.5 480.857c7.174-4.142 9.632-13.316 5.491-20.491l-30-51.963c-4.143-7.173-13.314-9.633-20.491-5.49-7.174 4.142-9.632 13.315-5.491 20.49l30 51.963c4.154 7.193 13.332 9.622 20.491 5.491z"/><path d="m143.5 31.144c-7.174 4.142-9.632 13.316-5.49 20.49l30 51.963c4.155 7.197 13.336 9.62 20.49 5.491 7.174-4.142 9.632-13.316 5.49-20.49l-30-51.963c-4.142-7.175-13.314-9.634-20.49-5.491z"/><path d="m168.009 408.403-30 51.963c-4.142 7.175-1.684 16.349 5.491 20.491 7.151 4.127 16.334 1.708 20.491-5.491l30-51.963c4.142-7.175 1.684-16.349-5.491-20.49-7.176-4.144-16.349-1.684-20.491 5.49z"/><path d="m348.01 36.634-30 51.963c-4.142 7.174-1.684 16.348 5.49 20.49 7.15 4.128 16.335 1.708 20.49-5.491l30-51.963c4.142-7.174 1.684-16.348-5.49-20.49-7.176-4.143-16.349-1.683-20.49 5.491z"/><path d="m241 436v61c0 8.284 6.716 15 15 15s15-6.716 15-15v-61c0-8.284-6.716-15-15-15s-15 6.716-15 15z"/><path d="m241 15v61c0 8.284 6.716 15 15 15s15-6.716 15-15v-61c0-8.284-6.716-15-15-15s-15 6.716-15 15z"/></symbol><symbol id="transparency" viewBox="0 0 481 481.7867"><title>transparency</title><path d="m264.046875 165.386719c-48-52.800781-128.800781-56-180.800781-8.800781-2.398438 2.402343-5.597656 4.800781-8 8l-3.199219 5.601562 4 4.800781.800781.796875c47.199219 52 128 55.203125 180 8 2.398438-2.398437 5.597656-4.796875 8-8l4-5.597656zm-110.398437 4.800781c0-8.800781 7.199218-16 16-16 8.796874 0 16 7.199219 16 16s-7.203126 16-16 16c-8.800782 0-16-7.199219-16-16zm5.597656-30.402344c-16.800782 5.601563-25.597656 23.203125-20.800782 40 3.203126 9.601563 10.402344 17.601563 20.800782 20.800782-24.800782-2.398438-48.800782-12.800782-67.199219-30.398438 19.199219-17.601562 42.398437-28 67.199219-30.402344zm20.800781 60.800782c16.800781-5.597657 25.601563-23.199219 20.800781-40-3.199218-9.597657-10.402344-17.597657-20.800781-20.800782 24.800781 2.402344 48.800781 12.800782 67.199219 30.402344-19.199219 17.597656-42.398438 28-67.199219 30.398438zm0 0"/><path d="m169.648438 34.1875c-75.203126 0-136 60.800781-136 136s60.796874 136 136 136c75.199218 0 136-60.800781 136-136s-60.800782-136-136-136zm0 256c-66.402344 0-120-53.601562-120-120 0-66.402344 53.597656-120 120-120 66.398437 0 120 53.597656 120 120 0 66.398438-53.601563 120-120 120zm0 0"/><path d="m441.648438 346.1875v-264c0-22.402344-17.601563-40-40-40h-88v16h88c13.597656 0 24 10.398438 24 24v264zm0 0"/><path d="m41.648438 322.1875v80c0 22.398438 17.597656 40 40 40h280v-16h-280c-13.601563 0-24-10.402344-24-24v-80zm0 0"/><path d="m337.648438 82.1875h72v16h-72zm0 0"/><path d="m353.648438 122.1875h56v16h-56zm0 0"/><path d="m353.648438 162.1875h56v16h-56zm0 0"/><path d="m353.648438 202.1875h56v16h-56zm0 0"/><path d="m353.648438 242.1875h56v16h-56zm0 0"/><path d="m361.648438 282.1875h48v16h-48zm0 0"/><path d="m73.648438 354.1875h216v16h-216zm0 0"/><path d="m73.648438 386.1875h248v16h-248zm0 0"/><path d="m113.648438 234.1875h112v16h-112zm0 0"/><path d="m113.648438 90.1875h112v16h-112zm0 0"/><path d="m388.046875 337.386719c-4.800781-4.800781-10.398437-7.199219-16.800781-7.199219h-5.597656l-57.601563-64.800781c52.800781-76.800781 34.398437-181.601563-42.398437-235.199219-76.800782-53.601562-182.402344-33.601562-235.203126 42.398438-52.796874 76-34.398437 181.601562 42.402344 235.199218 60.800782 42.402344 142.398438 40 200.800782-6.398437l56 63.199219v6.402343c0 6.398438 2.398437 12.796875 7.199218 16.796875l83.199219 83.203125c14.398437 14.398438 36.800781 14.398438 51.199219 0 14.402344-14.402343 14.402344-36.800781 0-51.203125zm-370.398437-167.199219c0-84 68-152 152-152s152 68 152 152-68 152-152 152-152-68-152-152zm268 121.597656c4-4 8.796874-8.796875 12-12.796875l52.796874 59.199219-12.796874 12zm160 174.402344c-5.601563 0-10.402344-2.402344-14.402344-5.601562l-83.199219-83.199219c-1.601563-1.601563-2.398437-3.199219-2.398437-5.601563v-6.398437l19.199218-19.199219h6.398438c2.402344 0 4 .800781 5.601562 2.398438l83.199219 83.199218c8 8 8 20.800782 0 28.800782-4 3.199218-9.601563 5.601562-14.398437 5.601562zm0 0"/></symbol></svg>
</div>