<div class="signers">
<h1>{{count}} people have signed this petition.</h1>
<div class="tableWrapper">
<table class="names">
    <tr><th>Name</th><th>Date signed</th></tr>
    {{#signatures}}
    <tr><td>{{first}} {{last}}</td><td>{{date}}</td></tr>
    {{/signatures}}
</table>
</div>
</div>