<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
</head>
<body>
    <header id="landing" class="shadow-5">
       <h1 id="landingTitle">Switch to Open Source Software</h1> 
      <h1>{{registered}}</h1>
       {{>login id='landingLogin' registered=registered}}
    </header>
    <main>
        {{{body}}}
    </main> 
    <footer class="shadow-5">
        <span class="copyright">© 2020 Joe Czarnecki</span>
    </footer>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>   
    <script src='/smooth.js'></script>
</body>
</html>