<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
</head>
<body>
    <header class='shadow-5'>
        <div class="title">
        <h1>{{headerTitle.headline}}</h1>
        </div>
        <div id="subTextWrapper">
            <div id="subMove">
                {{#headerTitle.subText}}
                <h4 class="subs">{{.}}</h4>
               {{/headerTitle.subText}}    
            </div>
        </div>
    </header>
    <main>
        {{{body}}}
    </main> 
    <footer class="shadow-5">
        <span class="copyright">© 2020 Joe Czarnecki</span>
    </footer>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>   
    <script src='/scriptMain.js'></script>
</body>
</html>