<div class="container" id="thankYouWrapper">
    <h1>Thank you for signing the petition to {{petitionReason}}!</h1>
    <div id="signers">
        <h2>Thank you for being one of {{signers}} people who have supported our cause</h2>
    </div>
</div>