<div class="formWrapper shadow-3">
        <header class="formHeader shadow-3">
        <h2>Update Password</h2>
    </header>
        <form class="form" id="changePassword" name="changePassword" action='/updatePassword' method='POST'>
            {{>error}}
            {{>passwordInput id='current' name="current-pwd" label='Current Password' placeholder='Current password'}}
            {{>passwordInput id='newPwd' name="newPwd" label='New Password' placeholder='New password'}}
            {{>passwordInput id='repeatPwd' name="repeatPwd" label='NRepeat Password' placeholder='Repeat password'}}
            {{>submitBtn id='submit' text="Change Password"}}
            {{>csrf}}
        </form>
    </div>