* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: silver;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    height: 100px;
    margin: 0 auto;
}
main {
    height: 100%;
    margin: auto;
}
footer {
    height: 50px;
}
canvas {
    background-color: white;
    width: 400px;
    height: 75px;
    border-radius: 10px;
    margin: 15px auto;
}
.inputWrapper {
    margin: 15px auto;
}
.alert {
    border: 2px solid red;
}

#subTextWrapper {
    height: 25px;

    overflow: hidden;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    position: relative;
}

#subTextWrapper h4 {
    margin: 0 auto;
    padding: 0px;
}
#subMove {
    position: absolute;
    top: -125px;
    width: 100%;
}
.subs {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    height: 45px;
    padding: 0px;
}
